@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    padding: 7% 0 0;
    margin: auto;
}
.logo{
    position: relative;
    left: 100px;
    top: 150px;
    float: inside;
}
.form {
    float: right;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 50px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    right: 100px;
}

.form .headmessage {
    margin: 0 0 40px;
    color: #E12634;
    font-size: 32px;
}

.form .label {
    position: relative;
    top: 20px;
    left: -90px;
    width: 30%;
    float: inside;
    font-size: 14px;
    text-align: right;
}

.form input {
    align:center;
    position: relative;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    float: inside;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    clear: both;
}

.form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #E12634;
    height: 40px;
    line-height: 13px;
    text-align: center;
    border: 0;
    padding: 15px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.login{
    width: 80%;
}
.register{
    width: 30%;
}
.find{
    width: 50%;
}
.form button:hover {
    background: #E8515C;
}

body {
    background-image: url("/images/background1.jpg");
    /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);*/
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}