html
    head
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/usersearch-newpassword.css", rel="stylesheet")
        script(src="/javascripts/jquery-3.4.1.js")
        script(src="/javascripts/bootstrap.js")
        script(src="/javascripts/bootstrap.min.js")
    body
        div.newpassword-page
            div.form
                form
                    p.headmessage 비밀번호 변경 완료!