html
    head
        link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/usersearch-newpassword.css", rel="stylesheet")
        script(src="/javascripts/jquery-3.4.1.js")
        script(src="/javascripts/bootstrap.js")
        script(src="/javascripts/bootstrap.min.js")
    body
        div.newpassword-page
            div.form
                form(name="newpassword", method="POST")
                    p.headmessage #{userid}님 새로운 비밀번호로 변경하세요!
                    p.label 비밀번호
                    input.input(name="password", type="password")
                    p.label 비밀번호 확인
                    input.input(name="password2", type="password")
                    button(formaction="/auth/user/search/pw/new/", onclick="return newpasswordFormCheck()") 확인

        script.
            function newpasswordFormCheck() {
                if (newpassword.password.value == "") {
                    alert("비밀번호를 입력해주세요.");
                    newpassword.password.focus();
                    return false;
                }
                if (newpassword.password.value != newpassword.password2.value) {
                    alert("비밀번호 확인을 알맞게 입력해주세요.");
                    newpassword.password2.focus();
                    return false;
                }
                return true;
            }